<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserMapper">

    <!--mapper接口的全类名和映射文件的namespace一致
        mapper接口中的方法的方法名要和映射文件中的sql语句的id保持一致
    -->

<!--    int insertUser();-->
    <insert id="insertUser">
        insert into t_user values(null,'admin','123456',23,'男','12345@qq.com')
    </insert>

    <update id="updateUser">
        update t_user set username = 'root', password = '123456677' where Id = 3
    </update>

    <delete id="deleteUser">
        delete from t_user where Id = 3
    </delete>

    <!--resultType：设置结果类型，即查询的数据要转化成的java类型
        resultMap：自定义映射，一对多或多对一的映射关系-->
    <select id="getUserById" resultType="com.mybatis.pojo.User">
        select * from t_user where Id = 2
    </select>

    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>

</mapper>